<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
        </div>{{$logDocuments := .logDocuments}}
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading"><strong><i class="fa fa-file-word-o"></i>  最近更新文档</strong></div>
                <div class="panel-body" style="min-height: 550px">
                    <div class="document-update">
                        <ul>
                            {{range $logDocument := $logDocuments}}
                            <li>
                                <div>
                                    {{if eq $logDocument.action "3"}}
                                        {{if eq $logDocument.document_type "1"}}
                                            <i class="fa fa-file-word-o"></i>
                                        {{else}}
                                            <i class="fa fa-folder-o"></i>
                                        {{end}}
                                        {{$logDocument.document_name}}
                                    {{else}}
                                    <a href="/document/index?document_id={{$logDocument.document_id}}" target="_parent" class="text text-info text-font-15">
                                        {{if eq $logDocument.document_type "1"}}
                                            <i class="fa fa-file-word-o"></i>
                                        {{else}}
                                            <i class="fa fa-folder-o"></i>
                                        {{end}}
                                            {{$logDocument.document_name}}</a>
                                    {{end}}
                                </div>
                                <span class="text text-font-12 document-user-time"><i class="fa fa-calendar"></i> 被
                                {{if eq $logDocument.user_id $.login_user_id}}
                                    <a href="/system/main/index" target="_parent">{{$logDocument.username}}（{{$logDocument.given_name}}）<span class="text text-primary"></span> </a>
                                {{else}}
                                    <a href="/user/info?user_id={{$logDocument.user_id}}">{{$logDocument.username}}（{{$logDocument.given_name}}）<span class="text text-primary"></span> </a>
                                {{end}}
                                {{if eq $logDocument.action "1"}}创建{{else if eq $logDocument.action "2"}}修改{{else if eq $logDocument.action "3"}}删除{{end}}于 {{dateFormat $logDocument.create_time "Y-m-d H:i:s"}}</span>
                            </li>
                            <hr>
                            {{end}}
                        </ul>
                    </div>
                    <div class="center">
                    {{template "paginator/default.html" .}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="panel panel-default" style="min-height: 300px">
                <div class="panel-heading"><strong><i class="fa fa-internet-explorer"></i> 我的文档</strong></div>
                    <p>肝不动了</p>
            </div>
        </div>
    </div>
</div>
